@mixin positionCenter {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
 * $breakpoint arguement choices (desktop first approach):
 * - phone
 * - tablet
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 960px) {
      @content;
    }
  }
}
