.header {
  background: linear-gradient(138deg, var(--primary) 5%, var(--secondary));
  position: relative;
  min-height: 100vh;

  .wave-bottom {
    height: 35rem;
    width: 100%;
    position: absolute;
    bottom: 0;

    svg {
      display: block;
      position: absolute;
      bottom: 0;

      path {
        height: 100%;
        fill: url("#linear");
      }
    }
  }
}

.main {
  @include positionCenter;
}
