.header {
  color: var(--primary-content);
  background: rgb(102, 204, 138);
  background: linear-gradient(138deg, var(--primary) 0%, var(--secondary) 100%);
  position: relative;
  height: 100vh;

  .wave-bottom {
    height: 35rem;
    width: 100%;
    position: absolute;
    bottom: 0;

    svg {
      display: block;
      position: absolute;
      bottom: 0;

      path {
        height: 100%;
        fill: url("#linear");
      }
    }
  }
}

.main {
  @include positionCenter;
}
