.navbar {
  @include respond(tablet) {
    padding: 0;
  }

  .become-alien {
    @include respond(tablet) {
      display: none;
    }
  }

  color: var(--primary-content);
  padding: 0 6rem;
  height: 7.2rem;
  box-shadow: 0px 0px 16px 2px rgba(46, 55, 74, 0.125);
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  border-bottom: 2px solid var(--base-drop-shadow);
  z-index: 10;

  ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 1.4rem;

    li {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    @include respond(tablet) {
      min-width: 10rem;
      padding-right: 0;
      gap: 0.4rem;
    }
    padding: 0 2rem;
    letter-spacing: -0.25px;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    min-width: 13.2rem;
    height: 100%;
    border-bottom: 5px solid inherit;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:link,
    &:visited {
      color: var(--primary-content);
    }

    &:hover {
      background-color: var(--base-drop-shadow);
    }

    &:active {
      color: var(--base-400);
    }

    .fa-airbnb {
      font-size: 3.4rem;
      font-weight: 600;

      &__heading {
        @include respond(phone) {
          font-weight: 600;
          font-size: 2rem;
        }
        font-size: 2.3rem;
        letter-spacing: -1.25px;
        font-weight: 700;
      }
    }
  }

  .input-search {
    @include respond(tablet) {
      margin-left: 0;
    }

    max-width: 100%;
    border-radius: 25rem;
    margin-left: 5.4rem;
    box-shadow: 0px 0px 8px 4px var(--base-drop-shadow);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:focus,
    &:hover {
      outline: 3px solid var(--primary);
    }
  }

  .fa-solid {
    font-size: 2.2rem;
    font-weight: 600;
  }
}
